.banner {
    width: 100%;
    height: 92.5vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../../assets/island.webp);
    /* background-image: url("../../Images/room.jpg"); */
    background-size: cover;
    background-position: center;
}

.formbox {
    color: whitesmoke;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log input {
    height: 35px;
    border: none;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    backface-visibility: visible;
}

.log button {
    margin-top: 10px;
    letter-spacing: 1px;
}

.banner h1 {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: whitesmoke;
    border-bottom: 4px solid #FD5D5D;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

span {
    margin-left: 30px;
}

.register {
    margin-left: 5px;
}

.log {
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 50px #76549A;
}