<body>
    <app-header></app-header>
    <div class="contaner">
        <h1>Connect with Us</h1>
        <p>We would love to respond to your queries and help you succeed. <br> Feel free to get in touch with us.</p>
        <div class="contact-box">
            <div class="contact-left">
                <h3>Send Your request</h3>
                <form >
                    <div class="input-row">
                        <div class="input-group">
                            <label >Name</label>
                            <input type="text" placeholder="Enter your Name">
                        </div>
                        <div class="input-group">
                            <label >Phone</label>
                            <input type="number" placeholder="Enter your mobile">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label >Email</label>
                            <input type="email" placeholder="Enter your Name">
                        </div>
                        <div class="input-group">
                            <label >Subject</label>
                            <input type="text" placeholder="Enter your query">
                        </div>
                    </div>
                    <label >Message</label>
                    <textarea  rows="5" placeholder="your message"></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>admin@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>1234567890</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Delhi<br>110001</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
