.html {
    width: 100%;
    height: auto;
    background-color: #b8c0ff;
}

.box {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

.each {
    border: 5px #F1F1F1 solid;
    padding: 10px;
    background-color: #A5C9CA;
}

.button {
    margin-left: 80%;
    border-radius: 10px;
}

.username {
    border-radius: 50px;
}

.name {
    text-decoration: none;
    border: 1px solid grey;
    background-color: lightblue;
    border-radius: 10px;
    color: blue;
}

@media(max-width:767px) {
    .box {
        width: 50%;
        /* margin-bottom: 30px; */
    }
}

@media(max-width:574px) {
    .box {
        width: 50%;
    }
}