<app-header></app-header>
<h1 style="text-align: center;">CHECK OUT</h1>
<div class="banner" style="margin-top: 20px;">
    <div class="row">
        <div class="col-5">
            <div id="carouselWithIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{area.image1}}" class="d-block w-100" style="height:300px ;" alt="Slide 1">
                    </div>
                    <div class="carousel-item">
                        <img src="{{area.image2}}" class="d-block w-100" style="height:300px ;" alt="Slide 2">
                    </div>
                    <div class="carousel-item">
                        <img src="{{area.image3}}" class="d-block w-100" style="height:300px ;" alt="Slide 3">
                    </div>
                    <div class="carousel-item">
                        <img src="{{area.image4}}" class="d-block w-100" style="height:300px ;" alt="Slide 4">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselWithIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselWithIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
        <div class="col-6 checkout">
            <h2>{{area.name}}</h2>
            <h4>₹ {{area.price}} per Night</h4>
            <label for="start">Check in date:</label>
            <input type="date" id="start" name="trip-start" value="2022-09-04" min="2022-01-01" max="2022-12-31"> &nbsp;&nbsp;&nbsp;
            <label for="start">ckeck out date:</label>
            <input type="date" id="start" name="trip-start" value="2022-09-04" min="2022-01-01" max="2022-12-31"><br> Days :<input type="text" #days (keyup.enter)="total(days.value)">

            <h5>Total Amount= ₹{{totalprice}}</h5>
            <h5>Location : {{area.location}}</h5>
            <h5>ViewPoint : {{area.viewpoint}}</h5>
            <h5>Type : {{area.type}}</h5>
            <p class="card-text">{{area.description}}
            </p>
            <p class="card-text"><small class="text-muted">Rating {{area.rating}}</small></p>
            <br>
            <button class="btn btn-primary" (click)="checkout(area)" *ngIf="area.reserved == 'false'">Check IN</button>
        </div>
    </div>
    <h1 *ngIf="area.reserved == 'true' " style="text-align: center;">Sorry This is Place Is Reserved</h1>
</div>