<!-- footer starts -->
<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href=" ">about us</a></li>
                    <li><a href=" ">our services</a></li>
                    <li><a href=" ">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Get Help</h4>
                <ul>
                    <li><a href=" ">FAQ</a></li>
                    <li><a href=" ">About Rental</a></li>
                    <li><a href=" ">Website</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Online News</h4>
                <ul>
                    <li><a href="https://support.trivago.com/hc/en-in/sections/360000014707#page-container" target="_blank">Learn how rental works</a></li>
                    <li><a href="https://www.trivago.in/en-IN/st/terms-of-service" target="_blank">Terms and conditions</a></li>
                    <li><a href="https://www.trivago.in/en-IN/sl/legal-information" target="_blank">Legal Information</a></li>
                    <li><a href="/contact">Help</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer> -->
