<app-admin-header></app-admin-header>
<div class="banner">
    <div *ngIf="!success">
        <div class="formbox">
            <h1>ADD PLACE</h1>
            <form #formref="ngForm" (ngSubmit)="register()" class="log">
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="place name" [(ngModel)]="site.name" #place="ngModel" required [class.is-invalid]="place.invalid && place.touched">
                    <small class="text-danger" [class.d-none]="place.valid || place.untouched">*place is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Enter price" [(ngModel)]="site.price" #price="ngModel" required [class.is-invalid]="price.invalid && price.touched">
                    <small class="text-danger" [class.d-none]="price.valid || price.untouched">*price is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Location</label>
                    <input type="text" class="form-control" name="location" placeholder="Location" [(ngModel)]="site.location" #location="ngModel" required [class.is-invalid]="location.invalid && location.touched">
                    <small class="text-danger" [class.d-none]="location.valid || location.untouched">*location is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">View Point</label>
                    <input type="text" class="form-control" name="viewpoint" placeholder="view point" [(ngModel)]="site.viewpoint" #view="ngModel" required [class.is-invalid]="view.invalid && view.touched">
                    <small class="text-danger" [class.d-none]="view.valid || view.untouched">*ViewPoint is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">contact</label>
                    <input type="text" class="form-control" name="Contact" placeholder="contact" [(ngModel)]="site.contact" #contact="ngModel" required [class.is-invalid]="contact.invalid && contact.touched">
                    <small class="text-danger" [class.d-none]="contact.valid || contact.untouched">*contact is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">description</label>
                    <textarea name="" class="form-control" name="description" placeholder="description" cols="30" rows="3" [(ngModel)]="site.description" #desc="ngModel" required [class.is-invalid]="desc.invalid && desc.touched"></textarea>
                    <!-- <input type="" class="form-control" name="location" placeholder="Location" [(ngModel)]="site.location" #location="ngModel" required [class.is-invalid]="location.invalid && location.touched"> -->
                    <small class="text-danger" [class.d-none]="desc.valid || desc.untouched">*description is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Rating</label>
                    <input type="number" class="form-control" name="rating" placeholder="rating" [(ngModel)]="site.rating" #rate="ngModel" required [class.is-invalid]="rate.invalid && rate.touched">
                    <small class="text-danger" [class.d-none]="rate.valid || rate.untouched">*Rating  is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Type</label>
                    <input type="text" class="form-control" name="type" placeholder="Type of Place" [(ngModel)]="site.type" #type="ngModel" required [class.is-invalid]="type.invalid && type.touched">
                    <small class="text-danger" [class.d-none]="type.valid || type.untouched">*type of Place  is Required</small>
                </div>
                <!-- <div class="form-group">
                    <label for="exampleInputPassword1">Phone</label>
                    <input type="phone" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="site.contact" #phone="ngModel" required [class.is-invalid]="phone.invalid && phone.touched">
                    <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">*phone is Required</small>
                </div> -->
                <div class="form-group">
                    <label for="exampleInputPassword1">Image1</label>
                    <input type="text" class="form-control" name="img1" placeholder="*image 1" [(ngModel)]="site.image1" #img1="ngModel" required [class.is-invalid]="img1.invalid && img1.touched">
                    <small class="text-danger" [class.d-none]="img1.valid || img1.untouched">*img1 is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Image2</label>
                    <input type="text" class="form-control" name="img2" placeholder="*image 2" [(ngModel)]="site.image2" #img1="ngModel" required [class.is-invalid]="img1.invalid && img1.touched">
                    <small class="text-danger" [class.d-none]="img1.valid || img1.untouched">*img2 is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Image3</label>
                    <input type="text" class="form-control" name="img3" placeholder="*image 3" [(ngModel)]="site.image3" #img1="ngModel" required [class.is-invalid]="img1.invalid && img1.touched">
                    <small class="text-danger" [class.d-none]="img1.valid || img1.untouched">*img3 is Required</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Image4</label>
                    <input type="text" class="form-control" name="img4" placeholder="*image 4" [(ngModel)]="site.image4" #img1="ngModel" required [class.is-invalid]="img1.invalid && img1.touched">
                    <small class="text-danger" [class.d-none]="img1.valid || img1.untouched">*img4 is Required</small>
                </div>
                <br>

                <button type="submit" class="btn btn-primary" [disabled]="formref.invalid">AddPlace</button>
            </form>


        </div>
    </div>
</div>