<app-header></app-header>
<div class="card" *ngFor="let ele of sites">
    <div class="row g-0">
        <div class="col-5 col-sm-4">
            <div id="carouselWithIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="2"></li>
                    <li data-bs-target="#carouselWithIndicators" data-bs-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ele.image1}}" class="d-block w-100" style="height:300px ;" alt="Slide 1">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ele.image2}}" class="d-block w-100" style="height:300px ;" alt="Slide 2">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ele.image3}}" class="d-block w-100" style="height:300px ;" alt="Slide 3">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ele.image4}}" class="d-block w-100" style="height:300px ;" alt="Slide 1">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 col-sm-8">
            <div class="card-body">
                <h2 class="card-title">{{ele.name}}</h2>
                <h5 class="card-title">Location : {{ele.location}}</h5>
                <h5 class="card-title">ViewPoint : {{ele.viewpoint}}</h5>
                <h5 class="card-title">Type : {{ele.type}}</h5>
                <h5 class="card-title">Contact : {{ele.contact}}</h5>
                <h5 class="card-title">Price : {{ele.price}}</h5>

                <p class="card-text">{{ele.description}}
                </p>
                <p class="card-text"><small class="text-muted">Rating {{ele.rating}}</small></p>
                <button class="btn btn-primary" (click)="checkout(ele)">Reserve</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>