<app-admin-header></app-admin-header>
<table class="table">
    <thead>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope='col'>Update</th>
        <th scope='col'>Delete</th>

    </thead>
    <tbody>
        <tr *ngFor="let ele of users">
            <th scope="row">{{ele.username}}</th>
            <td>{{ele.email}}</td>
            <td> <input type="text" placeholder="{{ele.phone}}" #number></td>
            <td> <input type="text" placeholder="{{ele.address}}" #address></td>
            <td><button class="btn btn-warning" (click)="update(ele,number.value,address.value)">Update</button></td>
            <td><button class="btn btn-danger" (click)="deleteQ(ele)">delete</button></td>
        </tr>
    </tbody>
</table>