.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../../assets/adminh.jpg');
    /* background-image: url("../../Images/room.jpg"); */
    background-size: cover;
    background-position: center;
}

.center {
    /* background-color: aqua; */
    width: 100%;
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
}

.center h1 {
    margin-bottom: 40px;
}

.offer {
    margin-top: 30px;
    width: 100%;
    height: 120px;
    background-color: #283618;
    opacity: 0.7;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}